#dogsupplies.html{
		border:5px solid rgb(0,0,0);
		background-color; rgb(173,216,230);
		width; 1299px;
		margin-left; auto ;
		margin-right; auto
}


article
{
float:left;
width:100%;
background-color:beige;
}

body {
    background-color: orange;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}